@import "bootstrap/scss/bootstrap";
@import "navbar";
@import "footer";
@import "city";
@import "search";

.search-container {
    height: 450px;

    .search-gradient {
        background: linear-gradient(to bottom right, #0978f1, #13aef7);

        .search-title {
            margin-bottom: 32px;

            font-size: 68px;
            font-weight: 100;
        }

        .search-input {
            width: 40%;
            padding: 12px 24px;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.autocomplete-container {
    position: relative;

    .search-autocomplete {
        position: absolute;
        top: 100%;
        width: 40%;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        .autocomplete-link {
            font-size: 14px;
            color: black;
            text-decoration: none;

            padding: 8px 12px;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}

.mx-13 {
    margin-inline: 140px;
}

.px-13 {
    padding-inline: 140px;
}
