@import "bootstrap/scss/bootstrap";
@import "navbar";
@import "footer";

.search-container {
    height: 450px;

    .search-gradient {
        background: linear-gradient(to bottom right, #0978f1, #13aef7);

        .search-title {
            margin-bottom: 32px;

            font-size: 68px;
            font-weight: 100;
        }

        .search-input {
            width: 40%;
            padding: 12px 24px;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.mx-13 {
    margin-inline: 140px;
}

.px-13 {
    padding-inline: 140px;
}
